---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%b %-d, %Y' }}</time>
    {% if page.author %}<p class="post-author">by {{ page.author }}</p>{% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <nav class="post-nav">
    <a href="{{ '/' | relative_url }}">&larr; Back to home</a>
    {% if page.next %}
    <a class="post-nav-next" href="{{ page.next.url | relative_url }}">{{ page.next.title | escape }} &rarr;</a>
    {% endif %}
    {% if page.previous %}
    <a class="post-nav-prev" href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title | escape }}</a>
    {% endif %}
  </nav>
</article>
